body {
    background-color: #81919F;
    color:#4B2A14;
}

nav {
    background-color: #4B2A14;
}

.btn, .btn-large {
    background-color: #44AA00;
    margin: 5px 5px;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.event_header {
    margin-top: 5px;
}

/* Form area */
label {
    color: #fff;
    font-size: 1rem;
}

input {
    background-color: #fff;
}