{% extends 'base.html'%} {% block content %}
<!-- CONTAINER START -->
<div class="container">
    <!-- USERNAME ROW START -->
    <div class="row">
        <div class="col-12">
            <h1> Hi <span> {{session["username"]}} </span>, </h1>
        </div>
    </div>
    <!-- USERNAME ROW END -->
    <div class="row">
        <div class="col s12">
            <a href="{{url_for('add_event')}}" class="waves-effect waves-light btn btn_small">+ Add Event</a>
        </div>
    </div>
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for event in events %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_event', event_id=event._id)}}" class="waves-effect waves-light btn btn_small">Done</a>
                    <a href="{{url_for('edit_event', event_id=event._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                </div>
                <div class=" event_header col s9">
                    <strong>{{event.event_name}}</strong> - {{event.due_date}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                {{event.event_description}} 
            </span>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
</div>
{% endblock %}